{% extends "layouts/base.html" %}

{% block title %} Error 403 {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
      
  <div class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h5 class="title">Error 403</h5>

            <blockquote>
                <p class="blockquote blockquote-primary">
                    Access denied - Please contact support or authenticate.
                    <br>
                    <small>
                    - <a href="./login.html">Login</a>
                    </small>
                </p>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}    
